.app {
  background-image: linear-gradient(rgb(0, 255, 179), rgb(0, 238, 255));
  height: 1000px;
}

.headertext{
  position:relative;
  padding-top: 30px;
}

.link { 
  color: rgb(255, 238, 1); 
  text-decoration: none; 
  padding: 100px; 
  font-size: 1.4rem;
  position:relative;
  padding-top: 200px;
  position: -20px;
}

.hometext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
}


.aboutus {
  font-size: 20px;
  position:relative;
padding-top: 25px;
border: 20px;
}

.ourservicestext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
}

.contacttext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
}

.iso9001 {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.iso14001 {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.natoaqap {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.blankspacehome {
  position:relative;
  padding-top: 420px;
}

.blankspaceaboutus {
  position:relative;
  padding-top: 60px;
}

.blankspaceourservices {
  position:relative;
  padding-top: 410px;
}

.blankspacecontact {
  position:relative;
  padding-top: 280px;
}

.footer {
  display: inline-block;
  position:relative;
  padding-top: 15px;
}

.footeraboutus {
  display: inline-block;
  position: relative;
}

.footercontact {
  display: inline-block;
  position:relative;
  padding-left: 550px;
}

.line {  
  position:relative;
  padding-top: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.separator{
  position:relative;
}

.link:hover {
  color: rgb(136, 255, 0);
}

.home {
  padding: 1000px;
  text-align: 100px;
  padding-top: 5000px;
}

.routes {
  padding: 1000px;
  text-align: 100px;
  padding-top: 5000px;
}