.app {
  background-image: linear-gradient(rgb(0, 255, 179), rgb(0, 238, 255));
  height: 100%;
}

.headertext{
  position:relative;
  padding-top: 30px;
  padding-left: 110%;
  left: 10%;
}

  .menucontainer {
    display: flex;
  }

.menulinkmainpage {
  color: white;
  width: 60px;
  height: 40%;
  background-color: black;
  flex: 1; /* Takes up as much space as available */
  padding: 0%;
  position: absolute;
  top: 60%;  
  left: 7%;
  padding-left: 0.5%;
}

.menulinkmainpage:hover {
  color: blue;
}

.menulinkaboutus {
  color: white;
  width: 55px;
  height: 40%;
  background-color: black;
  flex: 1; /* Takes up as much space as available */
  padding: 0%;
  position: absolute;
  top: 60%;  
  left: 23%;
  padding-left: 0.5%;
}

.menulinkaboutus:hover {
  color: blue;
}

.menulinkourservices {
  color: white;
  width: 120px;
  height: 40%;
  background-color: black;
  flex: 1; /* Takes up as much space as available */
  padding: 0%;
  position: absolute;
  top: 60%;  
  left: 39.5%;
  padding-left: 0.5%;
}

.menulinkourservices:hover {
  color: blue;
}

.menulinkcontact {
  color: white;
  width: 80px;
  height: 40%;
  background-color: black;
  flex: 1; /* Takes up as much space as available */
  padding: 0%;
  position: absolute;
  top: 60%;  
  left: 65%;
  padding-left: 0.5%;
}

.menulinkcontact:hover {
  color: blue;
}

.hometext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
padding-left: 10px;
}


.aboutus {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
padding-left: 10px;
}

.ourservicestext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
padding-left: 10px;
}

.contacttext {
  font-size: 24px;
  position:relative;
padding-top: 25px;
border: 20px;
padding-left: 10px;
}

.iso9001 {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.iso14001 {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.natoaqap {
  position:relative;
  padding-top: 25px;
  padding-left: 25px;
}

.blankspacehome {
  position:relative;
  padding-top: 420px;
}

.blankspaceaboutus {
  position:relative;
  padding-top: 60px;
}

.blankspaceourservices {
  position:relative;
  padding-top: 410px;
}

.blankspacecontact {
  position:relative;
  padding-top: 280px;
}

.footer {
  display: inline-block;
  position:relative;
  padding-top: 0%;
  width: 50%;
  flex: 1;  
  padding-left: 10px;
}

.footeraboutus {
  display: inline-block;
  position: relative;
}

.footercontact {
  display: inline-block;
  position:relative;
  padding-left: 25%;
  padding-top: 0%;
  width: 100%;
  flex: 1;
}

.footercontainer {
  display: flex;
}

.line {  
  position:relative;
  padding-top: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.separator{
  position:relative;
}